 <div class = "container">
    <div class = "row justify-content-center">
      <div class="col-12 col-sm-6 pt-5">
        <h1 class="text-center">Your Booking Details</h1>


          <%= simple_form_for [@yacht, @booking] do |f| %>

           <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">
             <%= f.input :start_date %>
             <%= f.input :end_date %>
             <%= f.input :number_of_guests %>
             <%= f.input :value_of_booking %>

            <div class = "btn-create btn-lg w-100 text-center">
            <%= f.button :submit %>
           </div>

            <% end %>

        <p class="text-center"> <%= link_to 'Back', yachts_path %></p>
     </div>
  </div>
