  <div class="row photos">
        <% if @yacht.photos.count > 0 %>
          <div class="col-6 big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos.first.key, :gravity=>"auto", :crop=>"fill" %>')"></div>
        <% else %>
          <div class="col-6 big placeholder" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/da3nqylvf/image/upload/v1574334985/yacht_logo_lpxctu.png" %>')"></div>
        <% end %>
        <div class="col-6">
          <div class="row">
            <% if @yacht.photos.count > 1 %>
              <div class="col-6 small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos[1].key, :gravity=>"auto", :crop=>"fill" %>')"></div>
            <% else %>
              <div class="col-6 small placeholder" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "yacht_logo_lpxctu" %>')"></div>
            <% end %>
            <% if @yacht.photos.count > 2 %>
              <div class="col-6 small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos[2].key, :gravity=>"auto", :crop=>"fill" %>')"></div>
            <% else %>
              <div class="col-6 small placeholder" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "yacht_logo_lpxctu" %>')"></div>
            <% end %>
          </div>
          <div class="row">
            <% if @yacht.photos.count > 3 %>
              <div class="col-6 small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos[3].key, :gravity=>"auto", :crop=>"fill" %>')"></div>
            <% else %>
              <div class="col-6 small placeholder" style="background-image: url('<%= cl_image_path "yacht_logo_lpxctu" %>')"></div>
            <% end %>
            <% if @yacht.photos.count > 4 %>
              <div class="col-6 small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos[4].key, :gravity=>"auto", :crop=>"fill" %>')"></div>
            <% else %>
              <div class="col-6 small placeholder" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "yacht_logo_lpxctu", width: 200, height: 120 %>')"></div>
            <% end %>
          </div>
        </div>
      </div>

<div class=" container container-card text-center">
  <h1 class="my-3 text-center">Summary of your booking</h1>
  <p>Start date: <%= @booking.start_date %></p>
  <p>End date: <%= @booking.end_date %></p>
  <p> Number of Nights: <%= (@booking.end_date - @booking.start_date).to_i  %></p>
  <p>Number of guests: <%= @booking.number_of_guests %></p>
  <p>Value of booking: £<%= @booking.yacht.price_per_night * (@booking.end_date - @booking.start_date + 1).to_i %></p>
</div>
