<%= simple_form_for(@yacht) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :capacity %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :photo, as: :file %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
