<%= render 'shared/banner'  %>
<div class="cards">
  <!-- <div class=""> -->
    <% @yachts.each do |yacht| %>
       <%= link_to yacht_path(yacht), class: "card" do %>
        <div>
          <% if yacht.photos.any? %>
            <%= cl_image_tag yacht.photos.first.key, height: 200, width: 300, crop: :fill, class: "card-img" %>
          <% else %>
            <img src="https://www.latinexcursions.com/wp-content/uploads/2018/06/infinity3-.jpg" alt="" class="card-img">
          <% end %>
          <div class="card-info px-3 py-2">
            <div class="card-info-row">
              <span class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
              <p class="fas fa-child m-0"> <%= yacht.capacity %></p>
            </div>
            <!-- <div class="card-info-row mt-2"> -->
              <h3 class="my-2"><%= yacht.name %></h3>
            <!-- </div> -->
          </div>
          <div class="price">
            <p>$<%= yacht.price_per_night %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <!-- </div> -->
</div>
<!-- map banner -->
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>



