<h1><%= @yacht.name %></h1>
<h3><%= @yacht.description %></h3>

<p>Location: <%= @yacht.location %></p>
<p>Capacity (people): <%= @yacht.capacity %></p>
<p>Price per night (£): <%= @yacht.price_per_night %></p>

<% if @yacht.photos.attached? %>
  <% @yacht.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% else %>
<img src="https://images.unsplash.com/photo-1549746434-6331eadece3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" class="card-img-top" alt="...">
<% end %>

<%= link_to 'Book now', new_yacht_booking_path(@yacht) %>

<%= link_to 'Edit', edit_yacht_path(@yacht) %>
<%= link_to 'Back to yachts', yachts_path %>
