  <div class="wraper">

      <div class="row photos">
        <% if @yacht.photos.count > 0 %>
          <div class="col-6 big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos.first.key, :gravity=>"auto", :crop=>"fill" %>')"></div>
        <% else %>
          <div class="col-6 big placeholder" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/da3nqylvf/image/upload/v1574334985/yacht_logo_lpxctu.png" %>')"></div>
        <% end %>
        <div class="col-6">
          <div class="row">
            <% if @yacht.photos.count > 1 %>
              <div class="col-6 small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos[1].key, :gravity=>"auto", :crop=>"fill" %>')"></div>
            <% else %>
              <div class="col-6 small placeholder" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "yacht_logo_lpxctu" %>')"></div>
            <% end %>
            <% if @yacht.photos.count > 2 %>
              <div class="col-6 small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos[2].key, :gravity=>"auto", :crop=>"fill" %>')"></div>
            <% else %>
              <div class="col-6 small placeholder" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "yacht_logo_lpxctu" %>')"></div>
            <% end %>
          </div>
          <div class="row">
            <% if @yacht.photos.count > 3 %>
              <div class="col-6 small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos[3].key, :gravity=>"auto", :crop=>"fill" %>')"></div>
            <% else %>
              <div class="col-6 small placeholder" style="background-image: url('<%= cl_image_path "yacht_logo_lpxctu" %>')"></div>
            <% end %>
            <% if @yacht.photos.count > 4 %>
              <div class="col-6 small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @yacht.photos[4].key, :gravity=>"auto", :crop=>"fill" %>')"></div>
            <% else %>
              <div class="col-6 small placeholder" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "yacht_logo_lpxctu", width: 200, height: 120 %>')"></div>
            <% end %>
          </div>
        </div>
      </div>

  </div>

<!--  -->


<div class="container my-5">
  <h1><%= @yacht.name %></h1>
  <p>Location: <%= @yacht.location %></p>
  <div class="yacht-show-info">
    <h5 class="py-3"><%= @yacht.description %></h5>
    <div class="extra">
      <strong><p class="pb-3">Price per night: £<%= @yacht.price_per_night %></p></strong>
      <h6 class="ml-2"><i class="fas fa-child"></i>  Private yacht</h6>
      <p class="ml-4">Capacity (people): <%= @yacht.capacity %> + 1 shared bathroom</p>
      <h6 class="ml-2"><i class="fas fa-key"></i> Self check-in</h6>
      <p class="ml-4">Check yourself in with the lockbox</p>
      <h6 class="ml-2"><i class="fas fa-search-location"></i> Great location</h6>
      <p class="ml-4">90% of recent guests gave the location a 5-star rating.</p>
    </div>
  </div>

  <div class = "d-flex my-3 justify-content-end" >
    <%= link_to 'Book now', new_yacht_booking_path(@yacht), class: 'btn-main' %>
    <%= link_to 'Edit', edit_yacht_path(@yacht), class: 'btn-secondary' %>
    <%= link_to 'Back to yachts', yachts_path, class: 'btn-secondary' %>
  </div>

</div>

